@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
body {
  font-family: 'Bowlby One SC', cursive;
  font-size: 14px;
  background: #292f33;
  text-align: center;
  box-sizing: border-box;
}
button{
  font-family: 'Heebo', sans-serif;
  font-family: 'Bowlby One SC', cursive;
}
.square:focus {
  outline: none;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.board-container {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 525px;
}

.board-container .square {
  background: #1e1e1e;
  width: 150px;
  height: 142px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  font-weight: bold;
  padding-top: 8px;
  color: #fb714d;
  border: none;
  border-radius: 21px;
  background: #292f33;
  box-shadow:  -6px -6px 12px #141718, 
              6px 6px 12px #3e474e;
}
.kbd-navigation .square:focus {
  background: #ddd;
}

