@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
*{
  margin: 0;
  padding:0;
}
body {
  font-family: 'Bowlby One SC', cursive;
  font-size: 14px;
  background: #292f33;
  text-align: center;
  box-sizing: border-box;
}
button{
  font-family: 'Heebo', sans-serif;
  font-family: 'Bowlby One SC', cursive;
}
.square:focus {
  outline: none;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.board-container {
  margin: 50px auto;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 525px;
}

.board-container .square {
  background: #1e1e1e;
  width: 150px;
  height: 142px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  font-weight: bold;
  padding-top: 8px;
  color: #fb714d;
  border: none;
  border-radius: 21px;
  background: #292f33;
  box-shadow:  -6px -6px 12px #141718, 
              6px 6px 12px #3e474e;
}
.board-container .square:hover, .board-container .square:hover:active {
  background: #212629;
  cursor: pointer;
}
.board-container .square:active{
  cursor: pointer;
  border-radius: 21px;
  background: #292f33;
  box-shadow: inset -6px -6px 12px #141718, 
            inset 6px 6px 12px #3e474e;
}
.board-container .square.active{
  background: #292f33;
  box-shadow: inset -6px -6px 12px #141718, 
            inset 6px 6px 12px #3e474e;
}
.teal{
  color: #00cbd7 !important;
}
.winnerLine {
  border: 10px solid #e1e1e1 !important;
}
.choosePlayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.95);
  background: #292f33;
  color: #FFFFF2;
}
.choosePlayer p {
  margin-top: 105px;
  margin-bottom: 0;
  color: #f94e3f;
  color: #fb714d;
  font-size: 4rem;
  line-height: 4rem;
}
.choosePlayer .players {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.choosePlayer .players div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #07324B;
  border: none;
  border-radius: 15px;
  color: #1e1e1e;
  width: 175px;
  height: 165px;
  font-size: 150px;
  margin: 25px;
  padding-top: 10px;
  border-radius: 21px;
  background: #292f33;
  box-shadow:  -6px -6px 12px #141718, 
             6px 6px 12px #3e474e;
}
.choosePlayer .players div:hover {
  color:  #00cbd7 ;
  background: #212629;
  cursor: pointer;
}
.choosePlayer .players div:active{
  border-radius: 21px;
  background: #292f33;
  box-shadow: inset -6px -6px 12px #141718, 
            inset 6px 6px 12px #3e474e;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.displayResult {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(30, 30, 30, 0.95); */
  color: #FFFFF2;
}
.displayResult h1 {
  margin-top: 90px;
  font-weight: 500;
  color: #fb714d;
  font-size: 5rem;
  line-height: 5rem;
}
.displayResult .replay {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 15px;
  padding: 1.2rem 1.5rem;
  background: #292f33;
  color: #00cbd7;
  border: none;
  border-radius: 21px;
  background: #292f33;
  box-shadow:  -6px -6px 12px #141718, 
              6px 6px 12px #3e474e;
}
.displayResult .replay:hover {
  background: #212629;
  cursor: pointer;
}
.displayResult button:active{
  background: #292f33;
  box-shadow: inset -6px -6px 12px #141718, 
            inset 6px 6px 12px #3e474e;
}
.displayResult button:focus {
  outline: none;
}

/* responsive media queries */
@media (max-width: 525px){
  .choosePlayer p{
    line-height: 3rem;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 80px;
  }
  .choosePlayer .players div{
    width: 110px;
    height: 100px;
    font-size: 5rem;
    margin: 10px;
  }
  .displayResult h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .displayResult .replay{
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem 1.2rem;
  }
  .board-container{
    width: 360px;
  }
  .board-container .square{
    font-size: 60px;
    border-radius: 10px;
    padding-top: 2px;
    width: 95px;
    height: 85px;
    margin: 6px;
  }
}
@media (max-width: 359px){
  .board-container{
    width: 300px;
  }
  .board-container .square{
    font-size: 40px;
    border-radius: 10px;
    padding-top: 2px;
    width: 68px;
    height: 62px;
    margin: 5px;
  }
}